.home__images {
  margin: 0 auto;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  &-link {
    color: rgb(32, 40, 18);
    text-decoration: none;
  }

  .webcam-image {
    width: 400px !important;
  }

  @media only screen and (max-width: 400px) {
    .webcam-image {
      width: 360px !important
    }
  }
}
