.home__images {
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  &-link {
    color: rgb(32, 40, 18);
    text-decoration: none;
  }

  .webcam-image {
    width: 400px !important;
  }
}
